#app {
    border: 1px solid black;
    text-align: center;
    margin: 15px;
    padding: 15px;
}

ul li a{
    text-decoration: none;
    background-color:gray;
    font-weight: bold;
    color: black;
    margin-left: 15px;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
}

li{
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

